@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}
:root {
  --bg1: rgb(0 255 238);
  --t1: rgb(0 39 161);
  --bg2: rgb(0 255 238 / 38%);
  --t2: rgb(0 39 161);
  --bg3: rgb(0 215 255);
}
body {
  background-color: var(--bg2);
}
.nav {
  background-color: var(--bg1);
  padding: 25px 5px;
  border: 2px solid;
}
ul li {
  list-style: none;
  display: inline;
  padding: 12px;
  border: 5px solid var(--t2);
  font-weight: bold;
}
li:hover{
    background-color: var(--bg3);
}
a {
  color: var(--t1);
  text-decoration: none;
}
.con {
  color: var(--t2);
  background-color: var(--bg3);
  border: 1px solid;
}
